/* #container {
    max-width: 1100;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
} */

#container {
    max-width: 1300px;
    margin: auto;



}

.content {
    /* li { */
    border: 1px solid blue;
    max-width: 400px;
    height: 700px;
    padding: 27px;
    margin: 14px;
    gap: 10px;

    background-color: beige;


}

.card {}

.card img {
    width: 300px;
    /* max-width: 1100;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center; */
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;


}

.buttons {
    margin: 7px 0 7px 0;

}