/* #container {
    max-width: 1100;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
} */

.content {
    max-width: 400;
    margin: auto;
    display: block;
    flex-direction: row;
    align-items: center;
}

.card img {
    width: 400px;
    /* max-width: 1100;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center; */
}

ul {
    list-style-type: none;
}

.buttons {
    margin: 7px 0 7px 0;

}