/* #container {
    display: flex;
    flex-direction: row;
    align-items: center;
} */
body {
    font-family: 'Montserrat';
}

.heading {
    text-align: center;
    margin: auto;
    max-width: 1100px;
    font-size: 35px;
    color: steelblue;

}

.clothes-search {
    text-align: center;
    margin: auto;
    max-width: 1100;
    font-size: 18px;
    color: steelblue;
}

#container {
    text-align: center;
    margin: 0 auto;
    display: flex;
    /* max-width: 1100px;
    height: 1500px; */

}

.content {
    /* li { */
    border: 1px solid blue;
    max-width: 400px;
    height: 700px;
    padding: 27px;
    margin: 14px;
    gap: 10px;

    background-color: beige;

}

.card {}

.card img {
    max-width: 400px;
    max-height: 400px;
    min-height: 400px;
    /* max-width: 1100;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center; */
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center
}

.buttons {
    margin: 7px 0 7px 0;
}